# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.env
venv/

# Logs
*.log

# Node
node_modules/
npm-debug.log
.npm
yarn-error.log
package-lock.json

# Build artifacts
frontend/build/
backend/.env
logs/
frontend/.env
frontend/.env.development
*.db
